<app-header titulo="card"></app-header>

<ion-content>

<ion-card mode="ios" color="primary">
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque culpa quod fuga facere. 
    Quisquam est corrupti ipsa similique quos voluptates adipisci rerum reiciendis veniam 
    impedit ea doloremque voluptatem, nam delectus!
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item color="primary">
    <ion-icon slot="start" name="pin" color="light"></ion-icon>
    <ion-label>Marcador</ion-label>
  </ion-item>
  <ion-card-content>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque culpa quod fuga facere. 
    Quisquam est corrupti ipsa similique quos voluptates adipisci rerum reiciendis veniam 
    impedit ea doloremque voluptatem, nam delectus!
  </ion-card-content>
</ion-card>
  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem facere molestiae 
      alias ullam quas fugiat at autem saepe, voluptatum laboriosam soluta maxime officia 
      corporis odio pariatur nobis quasi, nostrum voluptatibus.
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Brenda Azucena</ion-title>
  </ion-toolbar>
</ion-footer>
