<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title text-capitaliza>{{  nombre}} -- {{  pais }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-button (click)="SalirSinArg()" color="primary" expand="full">
  Salir sin argumentos
</ion-button>

<ion-button (click)="SalirConArg()" color="secondary" expand="full">
  Salir con argumentos
</ion-button>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-title>Brenda Azucena</ion-title>
  </ion-toolbar>
</ion-footer>
